div.simpleLogo {
    padding: 32px 0px;
}

img.loginBackgroundImg {
    display: block;
    margin: 0px auto;
}

div.loginSmallDiv {
    background-color: white;
    position: absolute;
    top: 180px;
    right: 80px;
    width: 350px;
    height: 400px;
    padding: 60px 25px 80px 25px;
}

div.login_acount_text {
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
}

div.loginInput {
    margin: 20px 0px;
    border: 1px solid #CBCBCB;
}

    div.loginInput span.loginInputIcon {
        width: 40px;
        height: 40px;
        margin: 0px;
        background-color: #CBCBCB;
        display: inline-block;
    }

span.loginInputIcon span.glyphicon {
    font-size: 22px;
    position: relative;
    left: 9px;
    top: 9px;
    color: #606060;
}

div.loginInput input {
    display: inline-block;
    border: 0px solid transparent;
    width: 244px;
    height: 30px;
    position: relative;
    left: 6px;
    top: 4px;
}

body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #999;
}

    a:hover {
        text-decoration: none;
        color: #C40000;
    }

button.redButton {
    background-color: #C40000;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
