
div.registerDiv {
    text-align: center;
    margin: 10px 40px;
}

table.registerTable {
    color: #3C3C3C;
    font-size: 16px;
    table-layout: fixed;
    margin-top: 50px;
}

    table.registerTable td {
        padding: 10px 30px;
    }

    table.registerTable input {
        border: 1px solid #DEDEDE;
        width: 213px;
        height: 36px;
        font-size: 14px;
    }

    table.registerTable button {
        width: 170px;
        height: 36px;
        border: 0px;
        border-radius: 2px;
        background-color: #C40000;
        color: white;
    }

td.registerTip {
    font-weight: bold;
}

td.registerTableLeftTD {
    text-align: right;
}

td.registerTableRightTD {
    text-align: left;
}

td.registerButtonTD {
    text-align: center;
}
